*{
    padding: 0;
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
h1,h2,h3,h4{
    font-family: 'alegreya';
    font-weight: lighter;
}
/* ==============================toggle================================== */
.contain {
    display: inline-block;
    /* cursor: pointer; */
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}
/* ============================================================================== */
#home h2{
    font-size: 22px;
}
#home h1{
    font-size: 72px;
}
#home p{
    width: 62%;
    font-size: 24px;
    line-height: 1.86em;
    margin-bottom: 20px;
}
body{
    overflow-x: hidden;
}
.gold{
    color: #8E7754;
}
nav{
    transition: 0.15s;
}
.bg-gold{
    background-color: #8E7754 !important;
}
.home p{
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
}
/* .home{
    color: white !important;
} */
.brder{
    width: 240px;
    height: 1px;
    /* background-color: #666056; */
    margin: auto;
}
.navbar{
    height: 90px;
    /* background-color: rgba(0, 0, 0, 0.2); */
    width: 100%;
    z-index: 88;
}
.nav-link{
    color: white !important;
    margin-right: 15px;
    font-size: 18px;
    font-family: 'alegreya';
    font-weight: 400;
    transition: all 0.25s;
}
.nav-link:hover {
    color: #AE9768 !important;
}
.navbar-brand img{
    width: 200px;
    margin: 15px 0 0 0px;
}

.home{
    height: 800px;
    height: 85vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../images/drew-coffman-1872.jpg); 
    background-size: 100% 100%;
}
.btn1{
    background-color: #8E7754;    
    padding: 15px 28px;
    color: white;
    border:2px solid transparent;
    transition: all 0.25s;
    font-family: 'Alegreya Sans', sans-serif;

}
.btn2{
    border:2px solid white;
    background-color: transparent; 
    color: white;
    font-family: 'Alegreya Sans', sans-serif;
    
    padding: 15px 28px;
    transition: all 0.25s;
}
.home button:hover{
    background-color: #fff;
    color: #000;
    border: 2PX solid transparent;
}
li{
    list-style: none;
}
.gray{
    color: #686868;
}
i{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
p{
    font-size: 17px;
    line-height: 32px;
}
.w-90{
    width: 90%;
}
.sec6{
    background-image: linear-gradient( rgba(64, 61, 56,0.9), rgba(64, 61, 56,0.9)) ,url(../images/contact-details-map.png);
}
.sec6 p{
    color: #969696;
    font-size: 16px;
}
.sec6 li {
    color: #a5a5a5;
    border-bottom: 1px solid rgba(150, 150, 150,0.5);
}
.sec6 :last-child{
    border: none;
}
.sec6 i{
    margin: 0;
    padding: 0;
}

footer{
    color: #969696;
    background-color: #403D38;
}

footer i{
    border-radius: 50%;
    text-decoration: none;
    color: #969696;
    background-color: #484540;
    border-radius: 50%;
    font-size: 23px;
}

footer a .fa-facebook-f:hover{    
    color: white;
    background-color: #4267B2;
}
footer a .fa-google-plus-g:hover{
    color: white;    
    background-color: #db4a39;
}
footer a .fa-linkedin-in:hover{
    color: white;
    background-color: #0077b5;
}
footer a .fa-twitter:hover{
    background-color: #1DA1F2;
    color: white;
}
footer img{
    max-width: 100%;
}
#arrow{
    text-decoration: none;
    bottom: 10px;
    right: 10px;
}
#arrow i{
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(255,255,255,0.8);
    border-radius: 50%;
    opacity: 0.6;
    transition: 0.5s;
} 
#arrow:hover i{
    opacity: 1;
}
.scrolling-active{
    height: 4.5rem;
    background-color: white !important;
    box-shadow: 0 3px 1rem rgba(0,0,0,0.3);
}
.scrolling-active .nav-link{
    color: black !important;
}
.scrolling-active .nav-link:hover{
    color: #AE9768 !important;
}
@media (max-width: 1000px) {
    .navbar-collapse
    {
        border-radius: 5%;
        background-color:white;
        text-align: center;
    }
    .nav-link{
        color: black !important;
    }
}
@media (max-width: 1000px) {
    .navbar-collapse
    {
        border-radius: 5%;
        background-color:white;
        text-align: center;
    }
    .nav-link{
        color: black !important;
    }
}
@media screen and (max-width: 767px) {
    #home{
        height: 50vh;
    }
    #home p{
        width: 100%;
        font-size: 16px;
        font-weight: 400;
    }
    #home h1{
        font-size: 34px;
    }
    #home h2{
        font-size: 22px;
    }
    .navbar-brand img{
        width: 150px;
    }
    button{
        font-size: 14px;
    }
    .btn1,.btn2{
        padding: 10px 17px;
    }
    p,span{
        font-size: 17px;
        font-weight: 400;
    font-family: 'Alegreya Sans', sans-serif;
    } 
    footer img{
        max-width: 200px;
    }
    footer a i{
        font-size: 16px;
    }
    .navbar-brand img{
        width: 120px;
        margin-bottom: 20px;
    }
    .scrolling-active img{
        width: 120px;
        margin-bottom: 20px;
    }
    .scrolling-active{
        height: 4rem;
        background-color: white !important;
        box-shadow: 0 3px 1rem rgba(0,0,0,0.3);
    }
    .bar1, .bar2, .bar3 {
        width: 15px;
        height: 1px;
        background-color: white;
        margin: 5px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-6px,3px);
        transform: rotate(-45deg) translate(-6px, 3px);
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-6px, -3px);
        transform: rotate(45deg) translate(-6px, -3px);
    }
}

